/* #videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  }
/* #hero {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 0.7em;
  text-align: center;
  color: rgb(203, 210, 219);
  background-color: #000; */
/* } */
body {
  margin: 0;
  padding: 0;
}
#map {
top: 0;
height: 100vh;
width: 100%;
position: fixed;
}
#header {
margin: auto;
min-height: 100vh;
width: 100%;
position: relative;
z-index: 5;
padding: 2vh 0vh 5vh 0vh;
color:#fff;
font-size: 1.5em;
background-image: url("images/SAPELO FILM/Sapelo_river.jpg");
background-repeat: no-repeat;
background-size: cover;
}
#features {
padding-top: 30vh;
padding-bottom: 10vh;
}
@media (max-width: 750px) {
  
#features {
  width: 50vw;
  margin: 0 auto;
}
}
#footer {
min-height: 2vh;
text-align: left;
line-height: 25px;
width: 100%;
height:100vh;
color: #fff;
position: relative;
background-image: url("images/SAPELO FILM/Sapelo_water_trees.jpg");
background-repeat: no-repeat;
background-size: cover;
z-index: 5;
}
#footer a {
  color: rgb(255, 123, 0);
}

/* TITLE PAGE A COMMUNITY GRASPS WITH EXTINCTION */
#header h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin: 5.5em auto 0.8em auto;
  max-width: 600px;
}
/* TITLE PAGE Voices of the GullahGeechee */
#header h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  margin-bottom: 0.9em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.7em;
  max-width: 900px;
}
/* TITLE PAGE Top Title Course*/
#header h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 0.9em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: .6em;
  max-width: 900px;
}
#header p.byline {
  font-weight: 100;
  font-size: 0.4em;
  margin: 0.5em auto 0.8em auto;
}
/* TITLE PAGE STUDENT AUTHORS*/
#header p {
  font-family: 'Lato', serif;
  font-weight: 300;
  text-align: center;
  font-size: .7em;
  max-width: 600px;
  margin: 1em auto 1em auto;
}
/* BODY*/
#features h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  text-align: center;
  max-width: 50vw;
}

#features h5 {
  font-size: 2em;
  text-indent: 50px;
  line-height: 1.5;
  font-weight: 700;
  font-style: Italic;
  font-family: 'EB Garamond', serif;
  text-align: left;
  max-width: 50vw;
  color: rgb(119, 125, 130);
  margin: 100;
}

#features h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  text-align: left;
  max-width: 50vw;
}
#features p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.3em;
  max-width: 50vw;
}
#features .imageCredit {
font-family: 'Lato', sans-serif;
font-size: 0.9em;
margin-top: -5px;
}

#footer p {
font-family: 'Lato', sans-serif;
font-size: 0.9em;
max-width: 600px;
padding: 0.75em 0em;
margin: 0px auto;
}
a, a:hover, a:visited {
color: #3c5b96;
}
.hidden {
visibility: hidden;
}
.centered {
width: 50vw;
margin: 0 auto;
}
.lefty {
width: 33vw;
margin-left: 5vw;
}
.righty {
width: 33vw;
margin-left: 62vw;
}
.fully {
width: 100%;
margin: auto;
}
.light {
color: #444;
background-color: #ffffff;
}
.dark {
color: #fafafa;
background-color: #444;
}
.step {
padding-bottom: 50vh;
opacity: 0.15;
}
.step.active {
opacity: 0.99;
}
.step div {
padding: 25px 50px;
line-height: 25px;
font-size: 13px;
}
.step img {
width: 100%;
}
@media (max-width: 750px) {
.centered, .lefty, .righty, .fully {
  width: 90vw;
  margin: 0 auto;
}
}
/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan, 
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
touch-action: unset;
}


#Chaptertext{
  background-image:url('images/0-History.png');
  background-position: 100% 100%;
  position: auto;
}

#Chapter2{
  background-image:url('images/0-History.png');
  background-position: 50% 50%;
}
#footer-text {
  padding-top: 35em;
}